* {
   margin: 0;
   padding: 0;
}
body {
   background-color: black;
}
.main {
   width:  1050px;
   height: 600px;
   overflow: hidden;
}
.slider {
   position: absolute;
   top: 50%;
   left: 50%;
   translate: -50% -50%;
   border-radius: 50px;

}
.navigation {
   position: absolute;
   bottom: 10px;
   left: 50%;
   translate: -50%;
   display: flex;

}
.bar {
   width: 25px;
   height: 15px;
   margin: 6px;
   cursor: pointer;
   background-color: white;
   opacity: 0.6;
   border-radius: 15px;
   transition: all .4s ease;
}
.bar:hover {
   transform: scale(1.1);
   opacity: 0.8;
   background-color: red;
}
input[name="r"] {
   position: absolute;
   visibility: hidden;
}
.slides {
   width: 400%;
   height: 100%;
   display: flex;
}
.slide {
   width: 25%;
   transition: all 0.5s ease; 
}
.slide img {
   width: 100%;
   height: 100%;
}
#r1:checked ~ .s1 {
   animation-name: bar-animation;
   animation-duration: 10s;
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   animation-direction: alternate;
   
}
@keyframes bar-animation {
   0% {
      margin-left: 0;
   }
   25% {
      margin-left: -25%;
   }
   50% {
      margin-left: -50%;
   }
   75% {
      margin-left: -75%;
   }
   100% {
      margin-left: 0;
   }
}