@font-face {
    font-family: 'DM Sans';
    src: url('DMSans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter 28pt';
    src: url('Inter28pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Bold.woff2") format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Medium.woff2") format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-SemiBold.woff2") format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Righteous';
    src: url('Righteous-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url("fonts/Montserrat-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto Condensed';
    src: url('RobotoCondensed-BoldItalic.woff2') format('woff2');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

/**
  Нормализация блочной модели
 */
 *,
 ::before,
 ::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 :where(address[class]) {
   font-style: normal;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }
 
 
 /**
   Упрощаем работу с изображениями и видео
  */
 img,
 video {
   display: block;
   max-width: 100%;
   height: auto;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
   /**
     Убираем скачок интерфейса по горизонтали
     при появлении / исчезновении скроллбара
    */
   scrollbar-gutter: stable;
 }
 
 /**
   Плавный скролл
  */
 html,
 :has(:target) {
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
 a:where([class]) {
   display: inline-flex;
 }
 
 /**
   Курсор-рука при наведении на элемент
  */
 button,
 label {
   cursor: pointer;
 }
 
 /**
   Приводим к единому цвету svg-элементы
  */
 [fill] { fill: currentColor }
 [stroke] { stroke: currentColor }
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Приведение рамок таблиц в классический 'collapse' вид
  */
 :where(table) {
   border-collapse: collapse;
   border-color: currentColor;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   *,
   ::before,
   ::after {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 } 


 :root {
      --color-dark:#000000;
      --color-light:#FFFFFF;
      --color-dark-grey:#A6A6A6;
      --color-light-gray:#FFFEFE;
      --color-blue:#0076E0;



      --border-radius: 40px;
      --border-radius-services: 50px;
      --border-radius-login: 10px;
    
      --input-height: 65px;
      --button-height: 60px;


      --conteiner-width: 1920px;
      --conteiner-padding-x: 15px;

      --font-family-base: "Montserrat", "sans-serif";
      --font-family-accent: "Righteous", "sans-serif";
      

      --transition-duration: 0.2s;
 }

 body {
    font-family: var(--font-family-base);
    color: var(--color-dark);
    font-weight: 400;
    font-size: 15px;
    min-height: 6000px;
    line-height: normal;
    background-color: var(--color-light);
    background-image: url(./images/body_background_img.png);
    overflow-x: hidden;
 }

 .conteiner {
    max-width: calc(var(--conteiner-width) + var(--conteiner-padding-x) * 2);
    margin-inline: auto;
    padding-inline: var(--conteiner-padding-x);
 }
 h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    /* text-transform: uppercase;  */
 }

 a {
    color: var(--color-light);
    list-style: none;
    text-decoration: none;
 }

 .btn {
    text-wrap: nowrap;

    
    color: var(--color-dark);
    font-size: 20px;
    font-style: normal;
    font-weight: 600; 

    width: 10rem;
    height: 3rem;
    padding: 20px 30px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    cursor:auto;
 }

 .btn:hover {
   opacity: 0.8;
 }
 .btn:active {
    opacity: 0.4;
 }
 .header {
    display: flex;
    justify-content: space-around;
    align-items: top;
    column-gap: 20px;
           
    background-image: url(./icons/header_background.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    
    position: relative;
    top: -1rem;
    min-height: 46rem;
    padding-inline: 15px;
 }
 .header-logo {
    position: relative;
    /* left: 5rem; */
    max-height: max-content;
    transition: 0.2s;

 }
.header-logo:hover {
   filter:drop-shadow(0 4px 8px var(--color-light)); 
}
 .header-menu {
    position: relative;
    right: -5rem;

    max-height: max-content;
    display: inline-flex;
    justify-content: end;
 }
 .header-burger-btn {
    position: relative;
    top: 2rem;
    border:none;
    width: 100px;
    border-radius: 10px;
    background-color: transparent;
    filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.5)); 
    visibility: hidden;
 }
 .header-burger-svg {
    fill: var(--color-light);
    stroke-width: 20px;
 }
 .header-menu-list {
    display: flex;
    flex-direction: row;
 }
 .visually-hidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
 .header-menu-link {
    color: var(--color-light);

    position: relative;
    padding-top: 30px;
    margin-inline: 15px;

    font-size: 20px;
    font-weight: 700;
    font-style: normal;
    transition: var(--transition-duration);
 }
 .header-menu-link.is-current::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    opacity: 0;
    height: 2px;
    background-color: currentColor;
    transition: all 0.2s;
 }
 .header-menu-link.is-current:hover::after {
    opacity: 1;
    width: 100%
 }
 .header-menu-link:hover {
    filter:drop-shadow(0 3px 5px rgb(252, 252, 252));
    transform: scale(1.1);
 }
 .header img {
   position: absolute;
 }
 .header svg {
    color: white;
    box-shadow: var(--color-dark);
 }
 .header-img-decoration {
   display: flex;
   justify-content: end;
   align-items: center;
 }
 .header-img-decoration-1 {
    position: relative;
    right: 250px;
    top: 150px;
    
 }
 .header-img-decoration-2 {
    position: relative;
    right: 356px;
    top: 75px;
 }
 .header-text-decoration {
    position: absolute;
    top: 15rem;
    left: 10rem;

    flex-direction: column;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: start;

    color: var(--color-light);
 }
 .header-text-1 {
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: start;

    max-width: 30rem;
    max-height: 20rem;
 }
 .header-text-2 {
    font-size: 33;
    font-style: normal;
    line-height: normal;
    font-weight: 500;

    position: absolute;
    top: 12rem;

    color: var(--color-light-gray);
 }
.header-start-btn {
    border-radius: var(--border-radius);
    border:none;

    background: #FFD4D4;
    box-shadow: 0px 11px 36px 0px rgba(0, 0, 0, 0.14);

    position: relative;
    top: 3rem;
    left: -8rem;

}

.header-decoration-sponsor {
    position: absolute;
    top: 42rem;

    display: flex;
    flex-direction: row-reverse;
    text-align: center;
    align-items: center;
    column-gap: 10px;

    width: 50rem;
    height: 5rem;


    padding: 0 10px;

    border-radius: 10px;
    border:none;
    box-shadow: 0px 3px 5px 4px rgba(0, 0, 0, 0.5);

    background-color: var(--color-light);

    transition:var(--transition-duration);
}
.header-decoration-sponsor:hover {
    box-shadow:  0 4px 5px rgba(0, 0, 0, 0.5);
}
.header-text-3 {
    font-size: 24px;
    font-style: normal;
    font-weight: 600;

    width: 598px;
    height: 28px;

    color: var(--color-light);

    position: absolute;
    top: -3rem;
    right: 7rem;
 }
.header_sponsor_1 {
     width: 287px;
     height: 70px;
     background-image: url(./images/header_sponsor_1.png);
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;    
}
.header_sponsor_2 {
    width: 138px;
    height: 70px;
    background-image: url(./images/header_sponsor_2.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;    
}
.header_sponsor_3 {
    width: 160px;
    height: 70px;
    border-radius: 50px;
    background-image: url(./images/header_sponsor_3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;    
}
.header_sponsor_4 {
    width: 167px;
    height: 70px;
    background-image: url(./images/header_sponsor_4.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;    
}

.banner {
    position: relative;
    top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.banner-logo {
    font-size: 50px;
    padding-block: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-shadow: 0 3px 6px var(--color-dark-grey);
}
.banner-name {
    font-size: 75px;
    padding-block: 15px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    text-shadow: 0 3px 6px var(--color-dark-grey);
}
.banner-info {
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.banner-bottom {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    top: 15rem;
    position: relative;
}
.banner-contact {
    background-image: url(./icons/banner_phone.svg);
    background-repeat: repeat(3);
    background-size: cover;
    background-position: center;
    filter: drop-shadow(0 4px 7px var(--color-dark-grey));
    min-width: 100vw;
    max-height: 15rem;
}
.banner-img {
    position: relative;
    top: 11rem;
    display: grid;
    grid-template-columns:repeat(6 , 3fr) ;
    grid-template-rows: repeat(1 , 500px);
    grid-auto-flow: row;
}
.banner-img img {
    width: 190px;
    aspect-ratio: 1;
}
.facebook {
    position: inherit;
    left: 7.5rem;
    transition: all var(--transition-duration);
}
.facebook:hover {
    filter: drop-shadow(0 2px 4px var(--color-blue));
    transform: scale(1.1);
}
.instagram {
    position: inherit;
    top: -4rem;
    left: 5.5rem;
    transition: all var(--transition-duration);
}
.instagram:hover {
    filter: drop-shadow(0 2px 4px rgba(255, 38, 0, 0.736));
    transform: scale(1.1);
}
.linkedin {
    position: inherit;
    left: 4rem;
    transition: all var(--transition-duration);
}
.linkedin:hover {
    filter: drop-shadow(0 2px 4px var(--color-blue));
    transform: scale(1.1);
}
.twitter {
    position: inherit;
    top: -2rem;
    left: 2.5rem;
    transition: all var(--transition-duration);
}
.twitter:hover {
    filter: drop-shadow(0 2px 4px rgba(0, 234, 255, 0.857));
    transform: scale(1.1);
}
.whatsapp {
    position: inherit;
    left: 0.5rem;
    transition: all var(--transition-duration);
}
.whatsapp:hover {
    filter: drop-shadow(0 2px 4px rgba(2, 207, 12, 0.857));
    transform: scale(1.1);
}
.youtube {
    position: inherit;
    top: -4rem;
    right: 1rem;
    transition: all var(--transition-duration);
}
.youtube:hover {
    filter: drop-shadow(0 2px 4px rgba(255, 0, 0, 0.935));
    transform: scale(1.1);
}
.banner-big-logo {
    position: relative;
    top: 35rem;
}
.banner-big-logo.phone {
    position: relative;
    visibility: hidden;
    top: -53rem;
   background-image: url(./images/big-main-logo-phone.png);
   background-position: center;
   background-size: contain;
   background-repeat: no-repeat;
   max-width: 100vw;
   height: 1080px;
}





















@media (max-width:1399px) {
    .banner-contact {
        min-width: 100vw;
        max-height: 13rem;
    }
    .banner-img img {
        width: 150px;
        aspect-ratio: 1;
    }
    .youtube {
        position: inherit;
        top: -6rem;
    }
    .instagram {
        position: inherit;
        top: -5rem;
    }
    .header-img-decoration-1 {
        position: relative;
        right: 150px;
        top: 120px;
        
     }
     .header-img-decoration-2 {
        position: relative;
        right: 260px;
        top: 50px;
     }
}
@media (max-width:1199px) {
    .banner-img img {
        width: 140px;
        aspect-ratio: 1;
    }
    .facebook {
        position: inherit;
        left: 5.5rem;
        top: -2rem;
    }
    .instagram {
        position: inherit;
        top: -6rem;
        left: 4rem;
    }
    .linkedin {
        position: inherit;
        left: 3rem;
        top: -2rem;
    }
    .twitter {
        position: inherit;
        top: -4rem;
        left: 2.5rem;
    }
    .whatsapp {
        position: inherit;
        left: 1rem;
        top: -2rem;
    }
    .youtube {
        position: inherit;
        top: -6rem;
        right: 0rem;
    }  
    .banner-contact {
        min-width: 100vw;
        max-height: 12rem;
    }
    .header-img-decoration-1 {
        position: relative;
        right: 75px;
        top: 170px;
        max-width: 350px;
        max-height: 380px;
        
     }
     .header-img-decoration-2 {
        position: relative;
        right: 150px;
        top: 85px;
        max-width: 200px;
        max-height: 250px;
     }
     .header-text-decoration {
        position: absolute;
        top: 10rem;
        left: 4rem;
    
        flex-direction: column;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: start;
    
        color: var(--color-light);
     }
     .header-text-1 {
        font-size: 40px;
    
        max-width: 30rem;
        max-height: 20rem;
     }
     .header-text-2 {
        font-size: 25px;
        text-wrap: nowrap;

        position: absolute;
        top: 10rem;
        left: 0rem;
     }
     .header-start-btn {
        border-radius: var(--border-radius);
        border:none;
    
        background: #FFD4D4;
        box-shadow: 0px 11px 36px 0px rgba(0, 0, 0, 0.14);
    
        position: relative;
        top: 5rem;
        left: -6rem;
    
     }
     .header-decoration-sponsor {
        position: absolute;
        top: 35rem;
    
        width: 50rem;
        height: 5rem;
    }
    .header {
        min-height: 40rem;
    }
    .header-menu-link {
        font-size: 25px;
    
     }
}
@media (max-width:1099px) {
    .banner-contact {
        min-width: 100vw;
        max-height: 11rem;
    }
    .facebook {
        position: inherit;
        left: 4rem;
    }
    .instagram {
        position: inherit;
        left: 3rem;
    }
    .header-logo {
        max-height: 30px;
        max-width: 300px;
     }
     .header-logo svg {
        max-height: max-content;

     }
    .header-menu-items {
        visibility: hidden;
    }
    .header-burger-btn {
        visibility: visible;
        right: 1rem;
        top: 10px;
        position: fixed;
     }
    .header-img-decoration-1 {
        position: relative;
        right: 75px;
        top: 130px;
        max-width: 250px;
        max-height: 280px;
        
     }
     .header-img-decoration-2 {
        position: relative;
        right: 135px;
        top: 85px;
        max-width: 130px;
        max-height: 170px;
     }
     .header-text-decoration {
        position: absolute;
        top: 7rem;
        left: 4rem;
    
        flex-direction: column;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: start;
    
        color: var(--color-light);
     }
     .header-text-1 {
        font-size: 40px;
    
        max-width: 30rem;
        max-height: 20rem;
     }
     .header-text-2 {
        font-size: 25px;
        text-wrap: nowrap;

        position: absolute;
        top: 10rem;
        left: 0rem;
     }
     .header-decoration-sponsor {
        position: absolute;
        top: 30rem;
    
        width: 50rem;
        height: 5rem;
    }
    .header {
        min-height: 35rem;
    }
    .header-menu-link {
        font-size: 25px;
    
     }
}
@media (max-width:799px) {
    
    .banner-big-logo.phone {
        position: relative;
        top: -45rem;
        visibility: visible;
    }

    .banner-big-logo {
        position: relative;
        top: 25rem;
        visibility: hidden;
    }
     
    .banner-contact {
        min-width: 100vw;
        max-height: 8rem;
    }
    .banner-img img {
        width: 100px;
        aspect-ratio: 1;
    }
    .facebook {
        position: inherit;
        left: 3rem;
        top: -6rem;
    }
    .instagram {
        position: inherit;
        top: -8rem;
        left: 2.5rem;
    }
    .linkedin {
        position: inherit;
        left: 2rem;
        top: -5rem;
    }
    .twitter {
        position: inherit;
        top: -6rem;
        left: 1.5rem;
    }
    .whatsapp {
        position: inherit;
        left: 0.8rem;
        top: -5rem;
    }
    .youtube {
        position: inherit;
        top: -8rem;
        right: -0.2rem;
    }  
    .header-img-decoration-1 {
        position: relative;
        right: 75px;
        top: 130px;
        max-width: 250px;
        max-height: 280px;
        z-index: 1;
        
     }
     .header-img-decoration-2 {
        position: relative;
        right: 135px;
        top: 85px;
        max-width: 130px;
        max-height: 170px;
        z-index: 1;
     }
     .header-text-decoration {
        position: absolute;
        top: 7rem;
        left: 4rem;
    
        flex-direction: column;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: start;
    
        color: var(--color-light);
     }
     .header-text-1 {
        font-size: 40px;
          
        text-shadow: 0 4px 5px var(--color-dark);

        z-index: 2;

        max-width: 30rem;
        max-height: 20rem;
     }
     .header-text-2 {
        font-size: 25px;
        text-wrap: nowrap;
       
        text-shadow: 0 4px 5px var(--color-dark);

        z-index: 2;

        position: absolute;
        top: 10rem;
        left: 0rem;
     }
     .header-start-btn {
        border-radius: var(--border-radius);
        border:none;
    
        background: #FFD4D4;
        box-shadow: 0px 11px 36px 0px rgba(0, 0, 0, 0.14);
    
        position: relative;
        top: 5rem;
        left: -6rem;
    
     }
     .header-text-3 { 
        text-wrap: nowrap;
        width: 27rem;
        height: 28px;
    
     }
     .header-decoration-sponsor {
        position: absolute;
        top: 30rem;
    
        width: 30rem;
        height: 5rem;
    }
}
@media (max-width:599px) {

    .banner-big-logo {
        position: relative;
        top: 23rem;
    }

    .banner-contact {
        min-width: 100vw;
        max-height: 6rem;
    }
    .banner-img img {
        width: 70px;
        aspect-ratio: 1;
    }
    .facebook {
        position: inherit;
        left: 2rem;
        top: -6rem;
    }
    .instagram {
        position: inherit;
        top: -8rem;
        left: 1.7rem;
    }
    .linkedin {
        position: inherit;
        left: 1.5rem;
        top: -6rem;
    }
    .twitter {
        position: inherit;
        top: -7rem;
        left: 1.2rem;
    }
    .whatsapp {
        position: inherit;
        left: 0.9rem;
        top: -6rem;
    }
    .youtube {
        position: inherit;
        top: -8rem;
        right: -0.5rem;
    }  

    .header-img-decoration-1 {
        position: relative;
        right: 75px;
        top: 130px;
        max-width: 250px;
        max-height: 280px;
        z-index: 1;
        
     }
     .header-img-decoration-2 {
        position: relative;
        right: 135px;
        top: 85px;
        max-width: 130px;
        max-height: 170px;
        z-index: 1;
     }
     .header-text-decoration {
        position: absolute;
        top: 16rem;
        left: 4rem;
    
        flex-direction: column;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: start;
    
        color: var(--color-light);
     }
     .header-text-1 {
        font-size: 40px;
          
        text-shadow: 0 4px 5px var(--color-dark);

        z-index: 2;
       
        text-wrap: wrap;

        max-width: 30rem;
        max-height: 20rem;
     }
     .header-text-2 {
        font-size: 25px;
        text-wrap: wrap;
       
        text-shadow: 0 4px 5px var(--color-dark);

        z-index: 2;

        position: absolute;
        top: 10rem;
        left: 0rem;
     }
     .header-start-btn {
        border-radius: var(--border-radius);
        border:none;
        
        z-index: 2;

        background: #FFD4D4;
        box-shadow: 0px 11px 36px 0px rgba(0, 0, 0, 0.14);
    
        position: relative;
        top: 5rem;
        left: -6rem;
    
     }
     .header-text-3 { 
        text-wrap: wrap;
        left: 0%;
        top: -80px;
        width: 20rem;
        height: 28px;
    
     }
     .header-decoration-sponsor {
        position: absolute;
        top: 45rem;
    
        width: 20rem;
        height: 5rem;
    }
    .header {
        min-height: 50rem;
    }
}
@media (max-width:431px) {

    .banner-big-logo {
        position: relative;
        top: 22rem;
    }

    .banner-contact {
        min-width: 100vw;
        max-height: 4rem;
    }
    .banner-img img {
        width: 60px;
        aspect-ratio: 1;
    }
    .facebook {
        position: inherit;
        left: 2.3rem;
        top: -8rem;
    }
    .instagram {
        position: inherit;
        top: -10rem;
        left: 1.7rem;
    }
    .linkedin {
        position: inherit;
        left: 1rem;
        top: -8rem;
    }
    .twitter {
        position: inherit;
        top: -9rem;
        left: 0.5rem;
    }
    .whatsapp {
        position: inherit;
        left: -0.2rem;
        top: -8rem;
    }
    .youtube {
        position: inherit;
        top: -10rem;
        right: 0.8rem;
    }  
 

     .header-text-decoration {
        position: absolute;
        top: 16rem;
        left: 3rem;
    
        flex-direction: column;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: start;
    
        color: var(--color-light);
     }
     .header-text-1 {
        font-size: 40px;
          
        text-shadow: 0 4px 5px var(--color-dark);

        z-index: 2;
        position: relative;
        top: -5rem;
        max-width: 30rem;
        max-height: 20rem;
     }
     .header-text-2 {
        font-size: 25px;
        text-wrap: wrap;
       
        text-shadow: 0 4px 5px var(--color-dark);

        z-index: 2;

        position: absolute;
        top: 8rem;
        left: -1rem;
     }
     .header-start-btn {
        border-radius: var(--border-radius);
        border:none;
        
        z-index: 2;

        background: #FFD4D4;
        box-shadow: 0px 11px 36px 0px rgba(0, 0, 0, 0.14);
    
        position: relative;
        top: 5rem;
        left: -1rem;
    
     }
}
@media (max-width:399px) {

    .banner-big-logo {
        position: relative;
        top: 20rem;
    }

    .banner-img img {
        width: 50px;
        aspect-ratio: 1;
    }
    .facebook {
        position: inherit;
        left: 1.3rem;
        top: -8rem;
    }
    .instagram {
        position: inherit;
        top: -10rem;
        left: 1.1rem;
    }
    .linkedin {
        position: inherit;
        left: 0.9rem;
        top: -8rem;
    }
    .twitter {
        position: inherit;
        top: -9rem;
        left: 0.5rem;
    }
    .whatsapp {
        position: inherit;
        left: 0.4rem;
        top: -8rem;
    }
    .youtube {
        position: inherit;
        top: -10rem;
        right: -0.3rem;
    }  



    .header-logo {
        max-height: 40px;
        max-width: 250px;
     }
     .header-logo svg {
        max-height: max-content;

     }
    .header-img-decoration-1 {
        position: relative;
        right: 50px;
        top: 130px;
        max-width: 250px;
        max-height: 280px;
        z-index: 1;
        
     }
     .header-img-decoration-2 {
        position: relative;
        right: 105px;
        top: 85px;
        max-width: 130px;
        max-height: 170px;
        z-index: 1;
     }
     .header-text-decoration {
        position: absolute;
        top: 16rem;
        left: 4rem;
    
        flex-direction: column;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: start;
    
        color: var(--color-light);
     }
     .header-text-1 {
        font-size: 40px;
          
        text-shadow: 0 4px 5px var(--color-dark);

        z-index: 2;
        position: relative;
        top: -5rem;
        max-width: 30rem;
        max-height: 20rem;
     }
     .header-text-2 {
        font-size: 25px;
        text-wrap: wrap;
       
        text-shadow: 0 4px 5px var(--color-dark);

        z-index: 2;

        position: absolute;
        top: 8rem;
        left: -4rem;
     }
     .header-start-btn {
        border-radius: var(--border-radius);
        border:none;
        
        z-index: 2;

        background: #FFD4D4;
        box-shadow: 0px 11px 36px 0px rgba(0, 0, 0, 0.14);
    
        position: relative;
        top: 2rem;
        left: -2rem;
    
     }
     .header-text-3 { 
        text-wrap: wrap;
        left: 0%;
        top: -80px;
        width: 20rem;
        height: 28px;
    
     }
     .header-decoration-sponsor {
        position: absolute;
        top: 45rem;
    
        width: 20rem;
        height: 5rem;
    }
    .header {
        min-height: 50rem;
    }
}